.slider {
    height: 15px;
    border-radius: 5px;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    /* Specified height */
    background: #dae1e7;
    /* Grey background */
    outline: none;
    /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    border-radius: 50%;
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #3490dc;
    /* Blue background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    border-radius: 50%;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #3490dc;
    /* Blue background */
    cursor: pointer;
    /* Cursor on hover */
}
