.spinner {
  border: 2px solid #d2d6dc;
  border-radius: 50%;
  border-top: 2px solid #05505c;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

.spinner-large {
  border: 10px solid #d2d6dc;
  border-radius: 50%;
  border-top: 10px solid #05505c;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}